
# 1 - Copy this file to your intended name ($org-$repoName), removing .example from its name.

# 2 - Replace -org- with the appropriate Github organization. The org name must match a github provider alias.

# 3 - Replace "template-tld" with your chosen app name. This should be a kebab-case repository name.
#     If a web application, name the repository after the domain.

# 4 - (Optional). If your app creates a CloudFront distribution for each environment, you can provide those
#     IDs to the DevOps lead, who will update the variable in TF Cloud. To reflect on your local, add them
#     to the terraform.tfvars file under cf_distributions.

# 5 - Terraform Plan. On success, commit changes and push a feature branch, then generate a 'main' PR.

module "repo-org-template-tld" {
  providers = {
    github = github.template
  }
  source    = "./modules/repository"

  # Adjust these values as needed. 

  github_org             = "template"
  repository_base_name   = "template-tld"
  repository_description = "GIVE_ME_A_DESCRIPTION"

  # Leave this at "none" unless you want to create multiple repositories.
  # If you populate a list here, we'll create one repository for each item,
  # using the item as a suffix. 

  # Needed for app deployment to AWS.

  aws_key_main       = var.aws_key_main
  aws_secret_main    = var.aws_secret_main
  aws_key_staging    = var.aws_key_staging
  aws_secret_staging = var.aws_secret_staging
  aws_key_develop    = var.aws_key_develop
  aws_secret_develop = var.aws_secret_develop

  # Try to find cloudfront distribution IDs for each environment. If not found
  # for any reason, return "". If provided, your Github Actions workflow should
  # invalidate "*" on the provided distribution ID. 

  cf_distribution_develop = lookup(lookup(var.cf_distributions, "template-tld", {
    template-tld = { develop = "" }
  }), "develop", "")
  cf_distribution_main    = lookup(lookup(var.cf_distributions, "template-tld", {
    template-tld = { develop = "" }
  }), "main", "")
  cf_distribution_staging = lookup(lookup(var.cf_distributions, "template-tld", {
    template-tld = { develop = "" }
  }), "staging", "")
  repository_visibility   = "public"
}
